@tailwind base;
@tailwind components;
@tailwind utilities;

/* #p {
color: rebeccapurple;
}
.header{
    display: flex;
    text-decoration:underline;
    color:rebeccapurple ;
     justify-content:space-between ; 
     border: 1px solid black;
     
}
.os{
    text-decoration:none;
}
.logo{
    width: 200px;
}
.nav{
    padding: 0px 20px;
    font-size: 24px;
}
.nav ul{
    display: flex;
    list-style-type: none;
}
.nav ul li{
    padding: 20px;
    margin: 20px;
}
.restaurant-con{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    border-style: none;
   
}
.restaurant-card{
    width: 200px;
   
    
   padding: 5px;
   margin: 20px;
   color: navy;
 
    background-color: rgb(197, 196, 196);

}
a:link{
    text-decoration: none;
}
.restaurant-card:hover { 
    cursor: pointer;
     border:1px solid black;   
}
.search{
    padding: 10px;
    
}
.res-logo{
    width: 100%;
    
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;

}
.shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    
    background-color: rgb(194, 189, 189);
}

/* .shimmer-text{

    margin: 5px;
    background-color: rgb(194, 189, 189);
}  */

/*
.login{
    padding: 0 20px;
    cursor: pointer;
}
.filter{
    display: flex;
}
.user-card{
    padding: 10px;
    border:1px solid black;   
    margin: 10px;
} */